# Configuración del Servidor API
API_PORT=8000

# Conexión a Base de Datos Geospatial (MongoDB Atlas)
MONGODB_URL=mongodb+str://<usuario>:<password>@<cluster>.mongodb.net/?retryWrites=true&w=majority
MONGODB_DB_NAME=proyecto_sig_db

# Configuración de Firebase para Notificaciones Push (Alertas de Alarma)
FIREBASE_PROJECT_ID=sig-preescolar-firebase-id
# Ruta al archivo de credenciales de la cuenta de servicio de Firebase (JSON)
FIREBASE_CREDENTIALS_PATH=app/core/firebase_credentials.json
